:root {
	--search-width: 500px;
	--post-width: 600px;
	--post-media-ratio: 5/3;
	--profile-picture-1: 35px;
	--profile-picture-2: 40px;
	--profile-picture-3: 50px;
	--profile-picture-4: 150px;
	--profile-picture-5: 225px;
	--tags-dropdown-height: 30vh;
	--transition: .15s ease-in-out;
}

textarea {
	resize: none;
}

.profile-picture {
	background-color: var(--bs-dark-bg-subtle);
	border-radius: 50%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.profile-picture-1 {
	width: var(--profile-picture-1);
}

.profile-picture-2 {
	width: var(--profile-picture-2);
}

.profile-picture-3 {
	width: var(--profile-picture-3);
}

.profile-picture-4 {
	width: var(--profile-picture-4)
}

.profile-picture-5 {
	width: var(--profile-picture-5);
}

.progress-password {
	--bs-progress-height: 8px;
}

.post-separator {
	margin-top: 1rem;
	margin-bottom: 0;
	border-top: var(--bs-border-width) dashed var(--bs-secondary-color);
}

.btn-close:focus {
	--bs-btn-close-focus-shadow: none;
}

.feed .card .card-text {
	white-space: pre;
}

.tags-dropdown .dropdown-menu {
	overflow: scroll;
	max-height: var(--tags-dropdown-height);
}

/* Transitions on collapse buttons icons */

.collapse-fade-icons {
	position: relative;
}

.collapse-fade-icons > i:last-child {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
}

.collapse-fade-icons > i {
	transition: opacity var(--transition);
}

button.collapsed .collapse-fade-icons > i:last-child, button:not(.collapsed) .collapse-fade-icons > i:first-child {
	opacity: 0;
}

/* Transitions on trash icon for tags buttons */

.btn.btn-tag {
	position: relative;
}

.btn.btn-tag > * {
	transition: opacity var(--transition);
}

.btn.btn-tag > :last-child {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
}

.btn.btn-tag:hover > :first-child, .btn.btn-tag:not(:hover) > :last-child {
	opacity: 0;
}

/* Restore original colors when accordion is active */

.accordion-button:not(.collapsed) {
	color: var(--bs-accordion-btn-color);
	background-color: var(--bs-accordion-btn-bg);
}

/* Change accordion collapse icon color */

[data-bs-theme="dark"] .accordion-button::after {
	--bs-accordion-btn-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iI2QzZDRkNSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMS42NDYgNC42NDZhLjUuNSAwIDAgMSAuNzA4IDBMOCAxMC4yOTNsNS42NDYtNS42NDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOCAwbC02LTZhLjUuNSAwIDAgMSAwLS43MDh6Ii8+PC9zdmc+Cg==");
	--bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
}
