:root {
	--search-width: 500px;
	--post-width: 600px;
	--post-profile-size: 50px;
	--post-media-ratio: 3/2;
	--send-profile-size: 35px;
	--settings-profile-size: 200px;
	--transition: .15s ease-in-out;
}

textarea {
	resize: none;
}

.profile-picture {
	background-color: var(--bs-dark-bg-subtle);
	border-radius: 50%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.progress-password {
	--bs-progress-height: 8px;
}

/* Transitions on trash icon for tags buttons */

.btn.btn-tag {
	position: relative;
}

.btn.btn-tag > * {
	transition: opacity var(--transition);
}

.btn.btn-tag > :last-child {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
}

.btn.btn-tag:hover > :first-child, .btn.btn-tag:not(:hover) > :last-child {
	opacity: 0;
}

/* Restore original colors when accordion is active */

.accordion-button:not(.collapsed) {
	color: var(--bs-accordion-btn-color);
	background-color: var(--bs-accordion-btn-bg);
}

/* Change accordion collapse icon color */

[data-bs-theme="dark"] .accordion-button::after {
	--bs-accordion-btn-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iI2QzZDRkNSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMS42NDYgNC42NDZhLjUuNSAwIDAgMSAuNzA4IDBMOCAxMC4yOTNsNS42NDYtNS42NDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOCAwbC02LTZhLjUuNSAwIDAgMSAwLS43MDh6Ii8+PC9zdmc+Cg==");
	--bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
}
