header :has(> input[type="search"]) {
	max-width: var(--search-width);
}

header .btn {
	white-space: nowrap;
}

header .dropdown-toggle::after {
	vertical-align: .4em;
}

header .dropdown-toggle:has(i[style^="display"])::after {
	vertical-align: 0;
}
