.col > div:has(> .profile-picture) {
	width: min(var(--settings-profile-size), 100%);
}

textarea {
	resize: none;
}

/* Restore original colors when accordion is active */
.accordion-button:not(.collapsed) {
	color: var(--bs-accordion-btn-color);
	background-color: var(--bs-accordion-btn-bg);
}

/* Change accordion collapse icon color */
[data-bs-theme="dark"] .accordion-button::after {
	--bs-accordion-btn-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iI2QzZDRkNSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMS42NDYgNC42NDZhLjUuNSAwIDAgMSAuNzA4IDBMOCAxMC4yOTNsNS42NDYtNS42NDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOCAwbC02LTZhLjUuNSAwIDAgMSAwLS43MDh6Ii8+PC9zdmc+Cg==");
	--bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
}
