{% extends "layout/header.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/css/index.css" />
{% endblock %}

{% block view %}
{{super()}}
<div class="overflow-scroll">
	<div class="container d-flex justify-content-center">
		<div class="feed">
			<div class="d-flex justify-content-center justify-content-md-between mt-2 mb-3">
				<div class="col"></div>
				<div class="col d-flex justify-content-center">
					<ul class="nav nav-underline flex-nowrap">
						<li class="nav-item">
							<button class="nav-link active" title="See what the world is up to">Explore</button>
						</li>
						<li class="nav-item">
							<button class="nav-link text-muted" title="See what your friends are up to">Friends</button>
						</li>
					</ul>
				</div>
				<div class="col d-flex justify-content-end">
					<button class="btn btn-dark rounded-circle bi bi-pen" title="Share your thoughts"></button>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-body">
					<div class="card-title d-flex align-items-center mb-2">
						<img class="rounded-circle me-2" src="https://www.rustacean.net/more-crabby-things/squishable-ferris.jpg" width="40" />
						<div>
							<div class="fw-bold">Ferris the Crab</div>
							<div class="text-secondary">01/01/1970</div>
						</div>
					</div>
					<p class="card-text">The Rules say there may exist either:<br>- one or more references<br>- exactly one mutable reference</p>
					<img class="card-img mb-3" src="https://cat-milk.github.io/Anime-Girls-Holding-Programming-Books/static/f5bcf000a3399d76c369dffce060f941/72645/Tsukishima_Shijima_The_Rust_programming_language.png" />
					<div class="d-flex gap-2">
						<button class="btn btn-dark border text-body rounded-pill d-flex align-items-center gap-2 px-3" title="Like the post">
							<i class="bi bi-heart"></i>
							<span>12K</span>
						</button>
						<button class="btn btn-dark text-body border rounded-pill d-flex align-items-center gap-2 px-3" title="Show the comments">
							<i class="bi bi-chat-square"></i>
							<span>1K</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
