{% extends "layout/header.html" %}

{% block view %}
<div class="container">
	<div class="d-flex flex-column flex-md-row pt-4 gap-4">
		<div class="d-flex justify-content-center">
			<div>
				<img class="profile-picture profile-picture-3" src="https://cat-milk.github.io/Anime-Girls-Holding-Programming-Books/static/a6c38430026f9719ac9c69fd892dbb78/47126/Aharen_Reina_Holding_C_Programming_Language.png" />
			</div>
		</div>
		<div>
			<div class="d-flex align-items-center gap-3">
				<span class="fs-4 fw-bold">Seafan</span>
				<button class="btn btn-sm btn-light rounded-pill">Follow</button>
			</div>
			<div class="text-secondary">
				@<span>seafan</span> &middot; Joined <span>01/01/1970</span>
			</div>
			<div class="text-secondary d-flex gap-3 my-2">
				<div>
					<span class="text-body fw-bold">2M</span> Followers
				</div>
				<div>
					<span class="text-body fw-bold">37</span> Following
				</div>
			</div>
			<div>
				Why yes, I pack all my structs. How could you tell?
			</div>
		</div>
	</div>

	<hr class="my-4">
</div>
{% endblock %}
