{% extends "layout/header.html" %}

{% block head %}
{{super()}}
<script src="/js/settings.js"></script>
{% endblock %}

{% block view %}
<div class="overflow-scroll flex-grow-1">
	<div class="container py-5">
		<form class="row row-cols-1 row-cols-lg-3 gy-5 justify-content-center" x-data="settings" x-show="handle" @submit.prevent="submit">
			<div class="col d-flex justify-content-center" x-show.important="!account.is_adv">
				<div class="profile-picture-5 d-flex flex-column gap-3">
					<div class="fw-bold">Profile picture</div>
					<label class="btn btn-tag profile-picture border w-100 p-0" for="pfp-upload">
						<img class="profile-picture w-100" :src="pfp">
						<i class="bi bi-upload fs-2"></i>
					</label>
					<input class="d-none" id="pfp-upload" type="file" autocomplete="off" x-ref="pfp" @change="pfp_file = $refs.pfp.files[0]" />
				</div>
			</div>
			<div class="col col-lg-8">
				<div class="row row-cols-1 row-cols-sm-2 px-2 gy-3">
					<div class="col">
						<div class="d-flex flex-column gap-2">
							<div class="fw-bold">Handle</div>
							<input class="form-control" type="text" x-model="handle" disabled />
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column gap-2">
							<div class="fw-bold">Name</div>
							<input class="form-control" type="text" placeholder="Display name" x-model="name" />
						</div>
					</div>
					<div class="col" x-show="!account.is_adv">
						<div class="d-flex flex-column gap-2">
							<div class="fw-bold">Gender</div>
							<select class="form-select" x-model="gender">
								<option selected hidden>Not specified</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="other">Other</option>
							</select>
						</div>
					</div>
					<div class="col" x-show="!account.is_adv">
						<div class="d-flex flex-column gap-2">
							<div class="fw-bold">Birthday</div>
							<input class="form-control" type="date" x-model="birthday" />
						</div>
					</div>
					<div class="col col-sm-12" x-show="account.is_adv">
						<div class="d-flex flex-column gap-2">
							<div class="fw-bold">Industry</div>
							<input class="form-control" type="text" x-model="industry" />
						</div>
					</div>
					<div class="col col-sm-12" x-show="!account.is_adv">
						<div class="d-flex flex-column gap-2">
							<div class="fw-bold">Bio</div>
							<textarea class="form-control" rows="3" x-model="biography"></textarea>
						</div>
					</div>
					<div class="col col-sm-12" x-show="!account.is_adv">
						<div class="d-flex flex-column gap-2">
							<div class="fw-bold">Interests</div>
							{% include "layout/tags.html" %}
						</div>
					</div>
					<div class="col col-sm-12 mt-4">
						<div class="accordion" id="section-danger">
							<div class="accordion-item">
								<div class="accordion-header">
									<button class="accordion-button collapsed fw-bold" data-bs-toggle="collapse" data-bs-target="#section-danger-content" type="button">
										Dangerous actions
									</button>
								</div>
								<div id="section-danger-content" class="accordion-collapse collapse" data-bs-parent="#section-danger">
									<div class="accordion-body row row-cols-1 gy-4">
										<div class="col">
											<div class="d-flex flex-column gap-2">
												<div class="fw-bold">Change password</div>
												<div class="row row-cols-1 row-cols-sm-2 gy-3">
													<div class="col">
														<input class="form-control" type="password" minlength="8" placeholder="New password" x-model="password" />
													</div>
													<div class="col">
														<input class="form-control" type="password" placeholder="Repeat new password" x-model="password_repeated" />
													</div>
													<div class="col col-sm-12">
														<div class="progress progress-password" role="progressbar" title="Strength of the specified password">
															<div class="progress-bar" :style="score"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="d-flex flex-column gap-2">
												<div class="fw-bold">Manage data</div>
												<div>
													<button class="btn btn-danger" type="button" @click="nuke">Delete account</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-sm-12">
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<div class="text-danger" x-show="error">
									<i class="bi bi-x"></i>
									<span x-text="error"></span>
								</div>
							</div>
							<div>
								<button class="btn btn-light rounded-pill" type="submit">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
