<template x-for="(post, post_index) in posts" x-data="feed">
	<div class="row row-cols-1 gy-2 mb-3" x-data="{comments_id: $id('post-comments')}">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="card-title d-flex justify-content-between mb-2">
						<div class="d-flex align-items-center">
							<img class="profile-picture profile-picture-3 me-2" :src="post.info.user_pfp" />
							<div>
								<div class="fw-bold" x-text="post.info.user_name ?? post.info.user_handle"></div>
								<div class="text-secondary">
									@<span x-text="post.info.user_handle"></span> &middot; <span x-text="new Date(post.info.date).toLocaleDateString()"></span>
								</div>
							</div>
						</div>
						<div x-show="post.info.user_id === account.id">
							<button class="btn btn-dark btn-round text-body" @click="delete_post(post_index)">
								<i class="bi bi-trash-fill"></i>
							</button>
						</div>
					</div>
					<p class="card-text multiline" x-text="post.info.body"></p>
					<img class="card-img mb-3" :src="post.info.media" x-show="post.info.media" />
					<div class="d-flex gap-2">
						<button class="btn btn-dark border text-body rounded-pill d-flex align-items-center gap-2 px-3" :class="!post.info.user_like && 'collapsed'" title="Like the post" @click="submit_like(post_index)" :disabled="!account.authenticated || account.is_adv">
							<span class="collapse-fade-icons">
								<i class="bi bi-heart"></i>
								<i class="bi bi-heart-fill"></i>
							</span>
							<span x-text="suffixize(post.info.likes)"></span>
						</button>
						<button class="btn btn-dark text-body border rounded-pill d-flex align-items-center gap-2 px-3 collapsed" title="Show the comments" data-bs-toggle="collapse" :data-bs-target="'#' + comments_id">
							<span class="collapse-fade-icons">
								<i class="bi bi-chat-square"></i>
								<i class="bi bi-chat-square-fill"></i>
							</span>
							<span x-text="suffixize(post.info.comments)"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col collapse" :id="comments_id">
			<div class="card">
				<div class="card-header">Comments</div>
				<ul class="list-group list-group-flush overflow-scroll">
					<li class="list-group-item p-4 pt-3" :class="post.comments.length == 0 && 'border-bottom-0'" x-show="account.authenticated && !account.is_adv">
						<div class="row row-cols-1 gy-3">
							<div class="col">
								<div class="row">
									<div class="col d-flex align-items-center">
										<img class="profile-picture profile-picture-1 me-2" :src="account.pfp" />
										<div class="fw-bold" x-text="account.name ?? account.handle"></div>
									</div>
									<div class="col-auto">
										<button class="btn btn-outline-light rounded-pill" @click="submit_comment(post_index)">Send</button>
									</div>
								</div>
							</div>
							<div class="col">
								<textarea class="form-control" rows="2" x-model="post.draft"></textarea>
							</div>
						</div>
					</li>
					<template x-for="(comment, comment_index) in post.comments">
						<li class="list-group-item px-4 py-3">
							<div class="row row-cols-1 gy-2">
								<div class="col d-flex justify-content-between">
									<div class="d-flex align-items-center">
										<img class="profile-picture profile-picture-1 me-2" :src="comment.user_pfp ?? PFP_EMPTY" />
										<div class="fw-bold me-2" x-text="comment.user_name ?? comment.user_handle"></div>
										<div class="text-secondary">
											@<span x-text="comment.user_handle"></span> &middot; <span x-text="new Date(comment.date).toLocaleDateString()"></span>
										</div>
									</div>
									<div x-show="comment.user_id === account.id">
										<button class="btn btn-dark btn-round text-body" @click="delete_comment(post, comment_index)">
											<i class="bi bi-trash-fill"></i>
										</button>
									</div>
								</div>
								<div class="col multiline" x-text="comment.body"></div>
							</div>
						</li>
					</template>
				</ul>
			</div>

			<hr class="post-separator" x-show="post_index < posts.length-1">
		</div>
	</div>
</template>
