<div class="row g-2" x-data="tags">
	<template x-for="(tag, tag_index) in interests">
		<div class="col-auto">
			<button class="btn btn-success btn-tag rounded-pill" type="button" @click="tag_remove(tag_index)">
				<div x-text="tag.tag"></div>
				<i class="bi bi-trash-fill"></i>
			</button>
		</div>
	</template>
	<div class="col-auto tags-dropdown dropdown-center" x-show="remaining.length > 0">
		<button class="btn btn-outline-success rounded-pill py-0" type="button" data-bs-toggle="dropdown">
			<i class="bi bi-plus fs-4"></i>
		</button>
		<ul class="dropdown-menu">
			<template x-for="(tag, tag_index) in remaining">
				<li><button class="dropdown-item btn btn-dark" type="button" x-text="tag.tag" @click="tag_add(tag_index)"></button></li>
			</template>
		</ul>
	</div>
</div>
